// Define variables for your color scheme

$primary: #3fa481;
$background: #f1f8f6;
$action: #e0702d;

// pill status:
$resolved: #7dbda7;
$working: #ffb992;
$pending: #888888;


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
