// Define variables for your color scheme

// background colors
$our-back-green: #60D3AB;
$our-back-orange: #FFBA91;

$our-orange: #FF7522;
$our-green: #039D76;




// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
