    <%= simple_form_for [house, room] do |f| %>
      <div class="row px-3">

        <div class="col-4">
          <%= f.input :number %>
        </div>

        <div class="col-6">
          <%= f.input :user, collection: User.all, label_method: :email, value_method: :id%>
        </div>
      </div>

      <div class="row px-3">
        <div class="col-4">

          <%= f.submit "Add room", class: "btn btn-flat",
          data: {
            create_room_target: "button"
          }%>
        </div>
      </div>
    <% end %>
