<div class="container px-4" style="padding-bottom: 95px">
  <div class="list_title">My Houses</div>
  <% @sorted_houses.each do |house| %>

    <%= link_to house_path(house) do %>

      <%= render "houses/houseCard", house: house %>

    <% end %>

  <% end %>

  <%= link_to new_house_path, class: "float" do %>
    <i class="fa fa-plus my-float"></i>
  <% end %>

</div>

