<div class="container">
  <h1>My Houses</h1>
  <% @houses.each do |house| %>

      <%= link_to house_path(house) do %>

        <%= render "houses/houseCard", house: house %>

      <% end %>

  <% end %>

  <%= link_to new_house_path, class: "float" do %>
    <i class="fa fa-plus my-float"></i>
  <% end %>


</div>
