<div class="container">
  <div class="list_title" style="margin-bottom: 10px;
    margin-top: 30px">My Houses</div>
  <% @houses.each do |house| %>

      <%= link_to house_path(house) do %>

        <%= render "houses/houseCard", house: house %>

      <% end %>

  <% end %>

  <%= link_to new_house_path, class: "float" do %>
    <i class="fa fa-plus my-float"></i>
  <% end %>


</div>
