<%# product card UI KIT %>
<div class="card-house">
  <% if house.photo.attached? %>
    <%= cl_image_tag house.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <div class="card-house-infos">
    <h2><%= house.name %></h2>
    <p><%= house.address %></p>
    <% number_tickets = 0 %>
    <% house.rooms.each do |room| %>
      <% number_tickets = room.tickets.where(status: "pending").count %>
    <% end %>

    <% if number_tickets != 0  %>
      <div class="notification-bubble text-center" style="color:#fff"><%= number_tickets %></div>
    <% end  %>

  </div>
</div>
