
<div class="container mt-5">
  <div class="row">
    <div class=“col-md-12 text-center mb-4">
      <h1><%= @house.name %></h1>
    </div>
  </div>

  <div class="row">
    <%= render "houseDetails", house: @house, room: @room %>
</div>
