<nav class="navbar fixed-bottom navbar-expand-* ">

  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">ZenRoof</a> %>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="show" id="">
      <ul class="navbar-nav d-flex">

        <% if user_signed_in? %>

          <%# Home/dashboad %>
          <li class="nav-item d-flex">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <%# History %>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>

          <%# Profile %>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">

              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>

        <% else %>

          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
