<div class="container">

  <h1>This are past solved tickets</h1>

  <% @tickets.each do |ticket| %>
    <% if ticket.status == "solved" %>
      <%= render partial: '/tickets/myTickets' %>
    <% end %>
  <% end %>

</div>
