.add_ticket_btn {
width: 80%;
height: 57.333px;
border-radius: 4px;
background: #545454;
color: #FFF;
font-family: Roboto;
font-size: 17.2px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


