.add_ticket_btn {
width: 80%;
height: 57.333px;
border-radius: 4px;
background: #545454;
color: #FFF;
font-family: Roboto;
font-size: 17.2px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


// floating button

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:40px;
	background-color: $our-orange;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  margin-bottom: 30px;
}

.my-float{
	margin-top:22px;
}


// clear default button style

button {
  all: unset;
}
