.h1 {
  color: #545454;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.list_title{
  color: #545454;
  font-family: Roboto Flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
