.title {
  color: #545454;
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}

.list_title{
color: #545454;
font-family: 'Roboto Flex', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 30px 15px 10px 15px;
}

.h2 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



// h5 title ticket
.h5 {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.smalltext {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: right;
}

.mylink {
  color: #B44F12;
  font-weight: 900;
  text-decoration: underline;
}

.address {
  color: #414141;
  font-weight: 700;
}
