.app-header {
  height: 78px;
  background-color: #4CAF50;
  color: white;
  display: flex;
}

.user-select {
  width: 50%;
  height: 100%;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner-select {
  background: #12D08E;
  color: #FFF;
}

.tenant-select {
  background: #FFF;
  color: #FF7522;
}




.search_bar {
width: 80%;
margin: 0 auto;
}
