.welcome-card {
  overflow: hidden;
  height: 240px;
  background: #12D08E;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.welcome-card-avatar {
  width: 56px;
  border-radius: 50%;
}

.welcome-card-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.welcome-card-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.search_bar {
width: 378px;
height: 57px;
flex-shrink: 0;
}
