.Houseform{
  background: #60D3AB;
}

.form-input{
  border-radius: 10px;
  max-width: 95%;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  align-items: center;
}

.form-input-address{
  min-height: 150px;
  border-radius: 10px;
  padding: 20px;
  max-width: 95%;
  margin-left: 10px;
}


label {
  display: block;
  margin-bottom: 8px;
}

input[type="submit"] {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #545454;
}
