.card-house {
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 15px;
}

.card-house img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.card-house h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-house p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  width: 100%;
  height:50px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
}

.card-house .card-house-infos {
  padding: 16px;
}


.notification-bubble {
  border-radius: 100%;
  background-color: $our-orange;
  font-family: 'Roboto flex', sans-serif;
  position: relative;
  width: 25px;
  // height: 25px;
  right: -90%;
  top: -95px;
}



.ourDetailsTag {
  border: 2px solid white;
  padding: 5px;
  margin-top: 5px;
  border-radius: 30px;
	// box-shadow: 2px 2px 3px rgb(114, 114, 114);
}

.ourDetailsTag-sum {
// color: black;
}
