.message_content {
color: #000;
font-family: 'Roboto Flex', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.current_user_message_details{
color: #545454;
font-family: 'Roboto Flex', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

.message_details {
color: #545454;
font-family: 'Roboto Flex', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.chat-bubble {
  margin-bottom: 10px;
  padding: 10px;
  max-width: 70%;
  position: relative;
}

.current_user_bubble{
  background-color: #FFA772;
  border-radius: 20px 0px 20px 20px;
}

.bubble {
  background-color: #12D08E;
  border-radius: 0px 20px 20px 20px;
}

.chat-container {
max-width: 400px;
margin: 25px 40px;
overflow: hidden;
}

.message_current_user{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  overflow: hidden;
  align-items: flex-end;
 }

.message {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  overflow: hidden;
  }

[hidden] {
  display: none !important;
}
