
.owner_status_pills, .renter_status_pills {
  // width: 86px;
  // height: 25px;
  flex-shrink: 0;
  border-radius: 30px;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  // width: 64px;
  // height: 23.529px;
  padding: 8px 15px;
  }

.renter_fixed_pills, .owner_fixed_pills {
  background: #ffffff;

}

.owner_pending_pills {
  background:#FF7522;
  color:#ffffff;
}

.renter_pending_pills {
  background: #039D76;
  color:#ffffff;
}

.renter_fixed_pills {
color: #FF7522;

}

.owner_fixed_pills {
color: #12D08E;
}


.owner_in_progress_pills  .renter_in_progress_pills{
  border-radius: 30px;
  background: #545454;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }
