
.status-pills {
  // width: 86px;
  // height: 25px;
  flex-shrink: 0;
  border-radius: 30px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 85px;
  // height: 23.529px;
  padding: 8px 15px;
  }

//// OWNER

.status-owner-pending {
  background-color: $our-orange;
  color:white;
}

.status-owner-ongoing{
  background: #545454;
  color:#ffffff;
}

.status-owner-fixed {
  background-color: white;
  color: #545454;
  border-color: #545454;
}


//// TENANT
.status-tenant-pending {
  background-color: $our-green;
  color:white;
}

.status-tenant-ongoing{
  background: #545454;
  color:#ffffff;
}

.status-tenant-fixed {
  background-color: white;
  color: #545454;
  border-color: #545454;
}
